# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.venv/

# IDE files
.vscode/
.idea/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Extracted drivers output
Extracted_Drivers/
_carved/
*.tmp

release_assets/
*.spec
